
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

h1 {
  color: #333;
  text-align: center;
}

p {
  color: #555;
}

.weather-widget {
  margin-top: 20px;

}

.activities-section {
  margin-top: 20px;
}
