.form-container {
  width: 30%;
  max-width: 500px; /* Set a maximum width */
  margin: 0 auto; /* Center the form container */
  padding: 20px; /* Add padding for spacing */
}

@media screen and (max-width: 1000px) {
  .form-container {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .form-container {
    width: 65%;
  }
}
